:root{
    --white: #faf0e6;
}

.my-contain{
    min-height: 400px;
    background-image:linear-gradient(rgba(0, 0, 0, 0.516), rgba(0, 0, 0, 0.208)), url("/img/birra2.jpeg");
    background-size: cover;
    background-position: center;
    color: var(--white);
}