.nav-space{
    height: 50px;
}
.my-navbar{
    position: fixed;
    width: 100%;
    background-color: transparent !important;
    height: 50px;
}
.nav-item-color{
    color: white !important;
    transition: 0.7s;
}
.nav-item-color:hover{
    transition: 0.7s ;
    color: gray !important;
}